<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProfile name="!local">
		<appender name="CONSOLE"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder
				class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
				<layout
					class="ch.qos.logback.contrib.json.classic.JsonLayout">
					<timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampFormat>
					<timestampFormatTimezoneId>${TZ}</timestampFormatTimezoneId>
					<jsonFormatter
						class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
					</jsonFormatter>
					<appendLineSeparator>true</appendLineSeparator>
				</layout>
			</encoder>
		</appender>
	</springProfile>
	<springProfile name="local,test">
		<appender name="CONSOLE"
			class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d %-5level %c{1}\(%line\) [%t] %m%n</pattern>
			</layout>
		</appender>
	</springProfile>
	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>

